extends main

prepend head
  title = app.title + " Topic List"
  link(rel="alternate", type="application/rss+xml", title=app.title + " Topics", href="/rss/topics")

block scripts
  script(type="text/javascript")
    dojoConfig = {
      async: 1,
      baseUrl: "/#{base}",
      packages: [{
        name: "dojo",
        location: "dojo"
      },{
        name: "dijit",
        location: "dijit"
      },{
        name: "dote-client",
        location: "dote-client"
      },{
        name: "moment",
        location: "moment"
      }],
      deps: [
        "dote-client/viewTopicList"
      ]
    };
    dote = {
      username: "#{username}",
      user: {
        id: "#{user.id}",
        committer: #{user.committer}
      }
    };
  script(type="text/javascript", src="/#{base}/dojo/dojo.js")
  script(type="text/javascript", src="/#{base}/dote-client/widgetModules.js")

block content
  .header
    .content
      .controls
        ul
          li #{username}
          li
            a(id="timeline", href="/timeline")
              i(class="icon-time")
              |  timeline
          li
            a(id="settings", href="/settings")
              i(class="icon-cog")
              |  settings
          li 
            a(id="newTopic", href="/add")
              i(class="icon-comment-alt")
              |  new
          li
            a(id="help", href="/help")
              i(class="icon-question-sign")
              |  help
          li
            a(id="logout", href="/logout")
              i(class="icon-signout")
              |  logout
      .title #{app.title}
      .subtitle #{app.subtitle}
      .clear
  .main
    h1 Topics
    #filterPane.hide
      form#filterForm
        span.filterItem
          label(for="filterTagTextBox") Tags:
          input#filterTagTextBox(name="filterTagTextBox")
        span.filterItem
          input#filterInactive(name="filterInactive", type="checkbox")
          label(for="filterInactive") Only Active 
          input#hideClosed(name="hideClosed", type="checkbox")
          label(for="hideClosed") Hide Closed 
          input#filterWatched(name="filterWatched", type="checkbox")
          label(for="filterWatched") Only Watched
        br
        span.filterItem
          label(for="filterAuthorSelect") Authored by:
          select#filterAuthorSelect(name="filterAuthorSelect")
        span.filterItem
          label(for="filterOwnerSelect") Owned by:
          select#filterOwnerSelect(name="filterOwnerSelect")
        span.filterItem
          button#filterButton(name="filterButton", type="button") Filter
          button#clearButton(name="clearButton", type="button", disabled="disabled") Clear
    #topicList
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41090332-1', 'kitsonkelly.com');
    ga('send', 'pageview');

  .footer
    .content Copyright &copy; 2012-2013 Dojo Foundation &mdash; All Rights Reserved