extends main

prepend head
  title = app.title + " Signup"

block scripts
  script(type="text/javascript")
    dojoConfig = {
      async: 1,
      baseUrl: "/#{base}",
      packages: [{
        name: "dojo",
        location: "dojo"
      },{
        name: "dijit",
        location: "dijit"
      },{
        name: "dojox",
        location: "dojox"
      },{
        name: "dote",
        location: "dote"
      },{
        name: "dote-client",
        location: "dote-client"
      },{
        name: "moment",
        location: "moment"
      }],
      deps: [
        "dote-client/viewSignup"
      ]
    };
  script(type="text/javascript", src="/#{base}/dojo/dojo.js")
  script(type="text/javascript", src="/#{base}/dote-client/widgetModules.js")

block content
  .header
    .content
      .title #{app.title}
      .subtitle #{app.subtitle}
      .clear
  .main
    h1 Signup
    .instructions
      p
        | Welcome to the #{app.title}.  This application is currently a closed application for managing features for
        | Dojo 2.  You must be authorised to be able to participate.  If you are just curious, then you can use the
        | <a href="/archive">archive</a> view of the discussion.
      form(id="userSignup", class="signup", action="")
        table
          tbody
            tr
              th
                label(for="login") Desired Username:
              td
                input(type="text", id="login", name="login", placeholder="Login ID")
            tr
              th
                label(for="email") E-Mail Address:
              td
                input(type="text", id="email", name="email", placeholder="name@example.com")
            tr
              th
                label(for="password") Password:
              td
                input(type="password", id="password", name="password")
            tr
              th
                label(for="confirmpassword") Confirm Password:
              td
                input(type="password", id="confirmpassword", name="confirmpassword")
            tr
              th
                label(for="message") Message:
              td
                textarea(name="message", id="message", name="message", placeholder="Reason you are requesting access.")
        button.next(type="submit", id="submit", disabled="disabled") Submit
      .clear
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41090332-1', 'kitsonkelly.com');
    ga('send', 'pageview');

  .footer
    .content Copyright &copy; 2012-2013 Dojo Foundation &mdash; All Rights Reserved