extends main

prepend head
  title = app.title + " Timeline"

block scripts
  script(type="text/javascript")
    dojoConfig = {
      async: 1,
      baseUrl: "/#{base}",
      packages: [{
        name: "dojo",
        location: "dojo"
      },{
        name: "dijit",
        location: "dijit"
      },{
        name: "dote-client",
        location: "dote-client"
      },{
        name: "moment",
        location: "moment"
      }],
      deps: [
        "dote-client/viewTimeline"
      ]
    };
    dote = {
      username: "#{username}",
      user: {
        id: "#{user.id}",
        committer: #{user.committer}
      }
    };
  script(type="text/javascript", src="/#{base}/dojo/dojo.js")
  script(type="text/javascript", src="/#{base}/dote-client/widgetModules.js")

block content
  .header
    .content
      .controls
        ul
          li #{username}
          li
            a(id="topicList", href="/")
              i(class="icon-reorder")
              |  list
          li
            a(id="settings", href="/settings")
              i(class="icon-cog")
              |  settings
          li 
            a(id="newTopic", href="/add")
              i(class="icon-comment-alt")
              |  new
          li
            a(id="help", href="/help")
              i(class="icon-question-sign")
              |  help
          li
            a(id="logout", href="/logout")
              i(class="icon-signout")
              |  logout
      .title #{app.title}
      .subtitle #{app.subtitle}
      .clear
  .main
    h1 Timeline
    #timeline

  .footer
    .content Copyright &copy; 2012-2013 Dojo Foundation &mdash; All Rights Reserved